.v-btn--fab.v-size--default.small {
    height: 45px;
    width: 45px;
}

.no-top {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.v-card__actions {
    padding: 12px;
}

.v-select.v-input--is-disabled:not(.v-input--is-readonly):not(.v-autocomplete) {
    pointer-events: all;
}

.hidden-input-only {
    padding-top: 0;

    .v-input__slot {
        display: none;
    }
}

.v-card__title {
    padding: 5px 16px;
}

.icon-small-blue {
    font-size: 20px !important;
    line-height: 0 !important;
}

.line-height-0 {
    line-height: 0 !important;
    font-size: 14px !important;
    letter-spacing: .009375em !important;
    color: rgba(0,0,0,.6);
    font-weight: 300;
}

.v-skeleton-loader__actions.v-skeleton-loader__bone > .v-skeleton-loader__bone:first-child {
    display: none;
}

.v-skeleton-loader__button {
    width: 100px;
}

.v-current-time {
    height: 2px;
    background-color: #ea4335;
    position: absolute;
    left: -1px;
    right: 0;
    pointer-events: none;

    &.first::before {
        content: '';
        position: absolute;
        background-color: #ea4335;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-top: -5px;
        margin-left: -6.5px;
    }
}

.v-calendar.v-calendar-category.hide-header-date {
    > .v-calendar-daily__head {
        > .v-calendar-daily_head-day {
            > .v-calendar-daily_head-weekday {
                display: none;
            }

            > .v-calendar-daily_head-day-label {
                display: none;
            }
        }
    }
}

.v-calendar-category .v-calendar-category__columns .v-calendar-category__column-header {
    min-width: 200px;
    padding: 15px 0px;
}

.title-event.content-event-detail {
    font-size: 125%;
    font-weight: 500;
}

.content-event-detail {
    display: inline-flex;
    flex-flow: wrap;
    width: calc(100% - 92px);

    .title-event {
        width: 100%
    }

    .subtitle-event {
        font-size: 80%;
        width: 100%;
        color: #9E9E9E;
        padding-bottom:5px;
    }
}

.v-btn.squared {
    min-width: 40px !important;
}

.v-calendar-category .v-calendar-category__columns .v-calendar-category__column-header {
    padding: 8px 0px;
    font-weight: 520;
    background-color: #fbfbfb
}

.error-disabled:has(.v-messages__message) {
    .theme--light.v-label--is-disabled {
        color: #ff5252 !important;
        caret-color: #ff5252 !important;
    }

    .theme--light.v-icon.v-icon.v-icon--disabled {
        color: #ff5252 !important;
        caret-color: #ff5252 !important;
    }

    .v-messages__message {
        color: #ff5252 !important;
        caret-color: #ff5252 !important;
    }
}

.text-4-lines-address {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.v-card__title{
    min-height:55px;
}
.v-data-table {
    border-radius: 0;
}

.booking-form {
    .v-sheet.v-card {
        box-shadow: none;
        border: solid rgba(0,0,0,.12) 1px;
    }
}
